<h1> <%= @patient.name %></h1>

<% @patient.appointments.each do |appt| %>
    <%= link_to "#{appt.appointment_datetime.strftime("%B %e, %Y at %H:%M")} with #{appt.doctor.name}", doctor_path(appt.doctor) %> <br>
  <% end %>